snippet sphinx_dev "sphinx dev requriments.txt"
sphinx
ipython
matplotlib
numpydoc

sphinx-design
sphinx-copybutton
myst-parser # add markdown support
sphinx-autobuild

sphinxcontrib-bibtex
shibuya
# sphinx_rtd_theme

endsnippet



