name: GitHub Pages

on:
  push:
    branches:
      - main
jobs:
  publish:
    name: Deploy Site
    runs-on: ubuntu-24.04
    environment: github-pages
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup uv
        uses: astral-sh/setup-uv@v6

      - name: Install 
        shell: bash
        run: |
          uv pip install --system -r requirements.txt
          sphinx-build -b html docs build

      - name: Make snippets to rst
        shell: bash
        working-directory: snippets
        run: |
          python3 snippets.py

      - name: Deploy Website
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
    
